<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>user</param-name>
    <param-value>neeraj</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/db</param-value>
  </context-param>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.tqpp.DemoServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>neeraj1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.tqpp.Servlet2</servlet-class>
    <init-param>
      <param-name>mobile</param-name>
      <param-value>5757567567</param-value>
    </init-param>
    <load-on-startup>22</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/diya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoCookie2</display-name>
    <servlet-name>DemoCookie2</servlet-name>
    <servlet-class>com.tqpp.DemoCookie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoCookie2</servlet-name>
    <url-pattern>/DemoCookie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHttpSession</display-name>
    <servlet-name>DemoHttpSession</servlet-name>
    <servlet-class>com.tqpp.DemoHttpSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHttpSession</servlet-name>
    <url-pattern>/DemoHttpSession</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.tqpp.listn1</listener-class>
  </listener>
</web-app>